/* HEADER */
.header-top {
  background-color: #000;
  color: #fff;
  font-size: 13px;
  border-bottom: 10px solid rgb(30, 115, 190);
  /* position: fixed; */
  z-index: 99;
}
/* .content {
  padding-top: 210px;
} */
.header-top .row-top {
  height: 50px;
  background-color: rgb(30, 115, 190);
}
.header-top .row-header {
  min-height: 150px;
}
.input-search {
  height: 40px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 18px;
  padding-left: 35px!important;
}
.input-group .btn-lupa {
  background-color:rgb(30, 115, 190);
  border: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  font-size: 20px;
  padding-top: 5px;
}
.img-logo {
  background-image: url(../img/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 80%;
}

.menu-fixed {
  background-color: #000;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: none;
  border-bottom: 10px solid rgb(30, 115, 190);
}
.menu-fixed .img-logo {
  height: 30px;
  width: 100%;
}
.menu-fixed .input-search {
  height: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 15px;
  padding-left: 35px!important;
}
.menu-fixed .input-group .btn-lupa {
  height: 30px;
  background-color:rgb(30, 115, 190);
  border: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 15px;
  padding-top: 5px;
}
/* HEADER */


/* PRODUTOS HOME */
.badge-marca {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9;
}
.img-produto-home {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
}
.pagination-home li a {
  font-size: 15px!important;
}
.pagination-home li.active a {
  background-color: rgb(30, 115, 190)!important;
}
/* PRODITOS HOME */